@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);



html,
body {
    background-color: #FFFFFF;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.toolbar-class {
    background-color: #FFFFFF;
    color: black
}

.welcome-info{
    font-family: 'Ruda', serif;
    margin-top: 10%;
    margin-left:15%;
    padding: 1%;
   
}

.rooms-city h1 {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

.room-list {
    margin-left: 5%;
    margin-right: 5%;
}

.room-list h1 {
    font-size: 20px;
}

.md-avatar {
    height: 100px;
}

.welcome-info .text-info {
    margin-right: 25%;
    font-size: 38px;
     line-height: 1.5;
     text-shadow:  #aaa;
}

.content {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    display: flex;  
    flex-direction: column;
    margin-top: 2%;
    width: 100%;
    background-color: transparent;
}

md-content {
    background-color: #FFFFFF;
}

.card-footer {
    bottom: 0;
    height: 8%;
    width: 100%;
    padding: 1% 0;

}


.wrapper{
  display: flex;
  flex-direction: column;            
  height: 100vh;
  overflow: hidden;
}

.main {
    height: 100%;
    min-height: 600px;
}

.title {
    text-align: left;
}


header {
    font-family: 'Oswald', 'sans-serif';
}

footer {
    bottom: 0;
    font-family: 'Oswald', 'sans-serif';
    color: black;
    background-color: #FFFFFF;
}

cb-auth md-menu {
    max-width: 3%; 
}
