<section class="rooms-city" layout="column">
    <md-divider></md-divider>
    <h1>{{ cityCtrl.city.name }}</h1>
    <md-divider></md-divider>
</section>

<section class="room-list">

    <md-content>
        <div class="md-padding" layout="row" layout-wrap layout-align="center center">
            <md-card flex="33" ng-repeat="room in cityCtrl.rooms" layout="column">
                <jk-carousel data="room.photos" current-index="0" item-template-url="'view/item-template.html'" max-width="400" max-height="250">
                </jk-carousel>

                <md-list-item>
                    <h4> {{room.short_description}} - A partir de {{ room.value }} </h4>
                    <p>TV - Máquina de Lavar - Básico</p>
                </md-list-item>
            </md-card>
        </div>
    </md-content>

</section>