<section layout="column" class="wrapper">

    <header>
        <md-toolbar class="header">
            <div class="md-toolbar-tools toolbar-class" layout="row">
                <md-list-item>
                    <img ng-src="./img/icons/logo.png" class="md-avatar">
                </md-list-item>



                <div class="title" flex>
                    <big ng-click="mainCtrl.goToMain()">Estay - HostFamily Social</big>
                </div>

                <span flex></span>
                <md-button class="md-warn md-hue-2">Torne-se um Host</md-button>
                <md-button class="md-warn md-hue-2">Ajuda</md-button>


                <st-auth user="mainCtrl.user" sign-in="mainCtrl.login()" sign-out="mainCtrl.logout()">

                </st-auth>

            </div>
        </md-toolbar>
    </header>

    <md-content>
        <!--Main content-->
        <main class="main">
            <div flex ui-view="content"></div>
        </main>
        <footer>
            <small>Estay - Sua casa fora de Casa.</small>
        </footer>
    </md-content>
</section>